body {
  margin: 0;
}

nav {
  background-color: #333;
  color: #fbc59b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  cursor: pointer;
  padding: 15px;
  color: #fbc59b;
  text-decoration: none;
}

nav a i {
  font-size: 1.2rem;
}
nav a:hover {
  background-color: #555;
}

nav .brand {
  color: #fbc59b;
  font-size: 2.5rem;
  line-height: 1;
  vertical-align: middle;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

nav .brand:hover {
  color: #ffd699;
}

nav .search-bar {
  flex-grow: 1;
  text-align: center;
}

nav .search-bar input {
  padding: 8px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;

  color: #333;
  margin-right: 10px;
}

nav .search-bar input::placeholder {
  color: #333;
}

nav .search-bar button {
  padding: 8px 12px;
  background-color: #fbc59b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav .search-bar button:hover {
  background-color: #ffd699;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.background-image {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/1589acb4326c5193b4ce01d2/pexels-photo-2834934.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100vh - 140px);
  position: relative;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  margin-top: 40px;
}

footer p {
  color: #fbc59b;
  font-family: "Playfair Display", serif;
}

.overlay-box {
  background-color: #fbc59b;
  color: #fff;
  position: absolute;
  top: auto;
  bottom: 7%;
  left: 30%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 35%;
  height: auto;
  max-height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
  margin-bottom: 0.35%;
  overflow: hidden;
}

.overlay-box h1 {
  font-weight: 700;
  font-size: 6em;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.row {
  display: flex;
}

@media (max-width: 768px) {
  .overlay-box {
    left: 5%;
    width: 90%;
    max-width: 90%;
  }

  .overlay-box h1 {
    font-size: 2em;
  }
}

.featured-products-link {
  position: absolute;
  top: 45%;
  right: 15%;
  transform: translateY(-50%);
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  background-color: #fbc59b;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.featured-products-link:hover {
  background-color: #ffd699;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  max-height: 290px;
}

.product h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.product-image {
  max-width: 40%;
  margin-right: 20px;
}

.product-image img {
  max-width: 100%;
  height: 600px;
}

.product-info {
  text-align: center;
}

.product-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-info img {
  display: flex;
  align-items: flex-start;
}

.product-description {
  max-width: 60%;
}

.add-to-cart-btn {
  text-decoration: none;
  padding: 10px 55px;
  background-color: #fbc59b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #ffd699;
  color: #333;
}

.heart-icon {
  vertical-align: middle;
  margin-left: 10px;
  color: #fbc59b;
  font-size: 30px;
}

.heart-icon:hover .fas {
  color: #ffd699;
}

.shopping-cart {
  padding: 20px;
}

.cart-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.cart-item img {
  width: 100px;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.quantity input,
.quantity button,
.remove-item {
  padding: 5px 10px;
  background-color: #fbc59b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.quantity input {
  width: 50px;
  margin-right: 10px;
}
.quantity label {
  margin-bottom: 5px;
}

.cart-total {
  text-align: right;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #fbc59b;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: auto;
}

.cart-summary {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
