.upload-section {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
  color: #333;
}

.upload-section input[type="file"] {
  margin-top: 10px;
}

.upload-section button {
  background-color: #fbc59b;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.upload-section button:hover {
  background-color: #fef0e5;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.admin-dash {
  width: 200px;
  background-color: #fef0e5;
  position: fixed;
  margin-top: 110px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
}

.admin-dash .brand {
  padding: 10px;
  font-weight: bold;
  color: #333;
}

.admin-dash ul {
  list-style-type: none;
  padding: 0;
}

.admin-dash ul li {
  padding: 10px;
}

.admin-dash ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1.5em;
}

.admin-dash ul li a:hover {
  background-color: #ddd;
}

.product-form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-form select,
.product-form input[type="text"],
.product-form input[type="file"],
.product-form input[type="number"] {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-form button {
  background-color: #fbc59b;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.product-form button:hover {
  background-color: #fef0e5;
}

.product-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.product-form h2 {
  margin-top: 0;
}
