.upload-section {
  background-color: #f0f0f0;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-section h2 {
  color: #333;
}

.upload-section input[type="file"] {
  margin-top: 10px;
}

.upload-section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.upload-section button:hover {
  background-color: #0056b3;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.admin-dash {
  width: 200px;
  background-color: #fef0e5;
  position: fixed;
  margin-top: 110px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
}

.admin-dash .brand {
  padding: 10px;
  font-weight: bold;
  color: #333;
}

.admin-dash ul {
  list-style-type: none;
  padding: 0;
}

.admin-dash ul li {
  padding: 10px;
}

.admin-dash ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 1.5em;
}

.admin-dash ul li a:hover {
  background-color: #ddd;
}
