body {
  margin: 0;
  overflow: hidden;
}

nav {
  background-color: #333;
  color: #fbc59b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  cursor: pointer;
  padding: 10px;
  color: #fbc59b;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}

nav .brand {
  color: #fbc59b;
  font-size: 1.2rem;
  margin-left: auto;
  text-decoration: none;
}

nav .brand:hover {
  color: #ffd699;
}

nav .search-bar {
  flex-grow: 1;
  text-align: center;
}

nav .search-bar input {
  padding: 5x;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.background-image {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/1589acb4326c5193b4ce01d2/pexels-photo-2834934.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100vh - 140px);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.overlay-box {
  background-color: #fbc59b;
  color: #fff;
  position: absolute;
  top: auto;
  bottom: 7%;
  left: 30%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 35%;
  height: auto;
  max-height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
  margin-bottom: 0.35%;
  overflow: hidden;
}

.overlay-box h1 {
  font-weight: 700;
  font-size: 6em;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.row {
  display: flex;
}

@media (max-width: 768px) {
  .overlay-box {
    left: 5%;
    width: 90%;
    max-width: 90%;
  }

  .overlay-box h1 {
    font-size: 2em;
  }
}
